html,
body {
  height: 100%;
}
nav li a {
  font-size: 1.5em;
}
#main-title-div {
  position: relative;
  background-image: url('../img/main-title.jpg');
  background-repeat: no-repeat;
  background-size: 100%, auto;
  height: 66%;
  width: 100%;
}
#main-title {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 40%;
  color: #f2f2f2;
}
.navbar {
  width: 100%;
}
ul.dropdown-menu {
  width: 100%;
}
#contact-list {
  list-style-type: none;
}
