body,
section,
article {
  padding-top: 32px;
  padding-bottom: 0;
}
#contact-list {
  text-align: center;
  font-size: 16px;
}
footer {
  padding-top: 64px;
  margin-bottom: 0;
  overflow: hidden;
}
