@import url("http://fonts.googleapis.com/css?family=Raleway|Quando");
body {
  padding-bottom: 0;
  background: linear-gradient(to right bottom, #f5f5f5, #c0c0c0);
  font-family: 'Quando', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
a:link {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
#nav-top {
  background: #520063;
  opacity: 0.9;
  border: 0;
}
#nav-top .navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border: 0;
  color: #d3d3d3;
}
#nav-top .navbar-toggle:hover,
#nav-top .navbar-toggle:focus {
  background-color: #f5f5f5;
}
#nav-top #nav-top-collapse {
  font-size: 16px;
  border: 0;
}
#nav-top #nav-top-collapse:not(.in) .dropdown-menu {
  background-color: #343434;
}
#nav-top .navbar-brand {
  font-size: 20px;
}
#nav-top a,
#nav-top .navbar-brand {
  color: #d3d3d3;
  background-color: transparent;
}
#nav-top a:hover,
#nav-top .navbar-brand:hover,
#nav-top a:focus,
#nav-top .navbar-brand:focus {
  color: #f5f5f5;
}
#nav-top .dropdown-menu {
  border: 0;
}
.jumbotron {
  padding-top: 64px;
  background-image: url("/img/jumbo.jpg");
  background-size: cover;
  text-shadow: #000 0px 0px 8px;
  color: #f5f5f5;
}
.jumbotron .container {
  min-height: 200px;
}
article {
  padding-top: 5px;
}
#contact-list {
  text-align: center;
  font-size: 16px;
}
footer {
  padding-top: 20px;
}
footer div {
  margin: 0 !important;
}
